body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    justify-content: safe;
}
.header, .footer, .home {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    padding: 16px;
    margin: 0;
}

.header {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer {
    justify-content: center;
    align-items: center;
    padding: 16px;
    font-size: 12px;
}

.header a, .header ul {
    text-decoration: none;
    color: #f9faf8;
    list-style-type: none;
}

.logo img {
    align-self: center;
    padding: 0;
    height: auto;
    width: 50px;
    padding-left: 10px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding-right: 16px;
    font-size: 18px;
    color: #e5e7eb;
}

.home {
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    flex-wrap: wrap;
}

.home .home-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    margin: 0;
    width: 500px;
}

.home .home-text h1 {
    font-size: 48px;
    font-weight: extra-bold;
    margin: 0;
}

.home .home-text p {
    font-size: 18px;
    margin-inline: 8px;
    margin-right: 8px;
    color: #e5e7eb;
    margin-bottom: 16px;
}

.home-btn button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 4px;
    text-align: center;
    padding-inline: 16px;
    padding-block: 4px;
    font-size: 16px;
    
}

.home-img {
    padding: 0;
    margin: 12px;
    display: block;
}

.home-img img{
    display: flex;
    flex: 1;
    max-width: 400px;
    height: auto;
    margin-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.about {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about h1 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
    margin-bottom: 52px;
}

.about-img-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.abt-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    border: #3882f6;
}

.abt-img img {
    width: 200px;
    height: 200px;
}

.abt-img p{
    display: flex;
    text-align: center;
    width: 150px;
}
